.App {
  text-align: center;
}

.pilt {
  /* width: 100px; */
  height: 100px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(95%);
}

.nupp {
  font-weight: bold;
  border-radius: 4px;
  border-width: 2px;
  border-color: brown;
}

.nupp:hover {
  cursor: pointer;
  opacity: 70%;
}

.nupp:active {
  text-decoration: underline;
}