.App {
  text-align: center;
}

.pilt {
  /* width: 100px; */
  height: 100px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(95%);
}

.nupp {
  font-weight: bold;
  border-radius: 4px;
  border-width: 2px;
  border-color: brown;
}

.nupp:hover {
  cursor: pointer;
  opacity: 70%;
}

.nupp:active {
  text-decoration: underline;
}

.kuldne {
  color: goldenrod
}

.linn-aktiivne {
  font-weight: bold;
}

.linn, .linn-aktiivne {
  font-size: 20px;
}

.summa-aktiivne {
  color: rgb(238, 92, 116);
  border-color: rgb(238, 92, 116);
}

.summa, .summa-aktiivne {
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.keel-aktiivne {
  text-decoration: underline;
}

table {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

td, th {
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}

.protsent-aktiivne {
  background-color: blue;
}

.kalkulaator td:hover {
  cursor: pointer;
}

.kalkulaator td:active {
  background-color: rgb(245, 245, 245);
}